* {
    margin: 0;
    padding: 0;
}

#hrefsDecoration {
    -webkit-text-decoration: 0px;
            text-decoration: 0px;
    color: white;
}

:root {
    --white: #F1F1F1
}

#iS {
    letter-spacing: 2.5vh;
    font-size: 60px;
    margin-left: 32vh;
    margin-top: 2vh;
}

#I {
    opacity: 1;
    animation: flickerI 2s linear reverse infinite;
}

#I::after {
    content: '';
    width: 150%;
    box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
}

@keyframes flickerI {
    0% {
        opacity: 0.4;
    }
    5% {
        opacity: 0.5;
    }
    10% {
        opacity: 0.6;
    }
    15% {
        opacity: 0.85;
    }
    25% {
        opacity: 0.5;
    }
    30% {
        opacity: 1;
    }
    35% {
        opacity: 0.1;
    }
    40% {
        opacity: 0.25;
    }
    45% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.85;
    }
    80% {
        opacity: 0.4;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

#S {
    opacity: 1;
    animation: flickerI 2s linear reverse infinite;
}

#S::after {
    content: '';
    width: 150%;
    box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
}

@keyframes flickerS {
    0% {
        opacity: 0.4;
    }
    5% {
        opacity: 0.5;
    }
    10% {
        opacity: 0.6;
    }
    15% {
        opacity: 0.85;
    }
    25% {
        opacity: 0.5;
    }
    30% {
        opacity: 1;
    }
    35% {
        opacity: 0.1;
    }
    40% {
        opacity: 0.25;
    }
    45% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.85;
    }
    80% {
        opacity: 0.4;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


#lowerPump {
    background: #131313;
    color: #FFFFFF;
    font-size: 40px;
    font-family: 'Fira Mono', monospace;
    letter-spacing: 5px;
    margin-top: 5vh;
    margin-left: 12vh;
}

#higherPump {
    margin-left: 20px;
    background: #131313;
    color: #FFFFFF;
    font-size: 96px;
    font-family: 'Fira Mono', monospace;
    letter-spacing: -7px;
}

#pump {
    animation: glitch 1s linear infinite;
}

@keyframes glitch {
    2%, 64% {
        transform: translate(2px, 0) skew(0deg);
    }
    4%, 60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

div:before,
div:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

div:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
    2%, 64% {
        transform: translate(2px, -2px);
    }
    4%, 60% {
        transform: translate(-2px, 2px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

div:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
    2%, 64% {
        transform: translate(-2px, 0);
    }
    4%, 60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

#footer {
    letter-spacing: 3px;
}

@media (min-width: 721px) {
    .box {
        width: 100vh;
        height: 71.45vh
    }
}

h3 {
    border: solid 3px white;
    border-radius: 1vh;
    padding: 2vh;
    font-weight: bold;
    position: relative;
    width: 100%;

}

#dangerous {
    color: #FC1D3B;
    border: solid 3px #FC0500;
    box-shadow: 3px 3px 3px 3px #FC0500;
}

.icon {
    position: absolute;
    right: 5px;
    top: 2px;
}

#Finished {
    color: greenyellow;
    border: solid 3px lawngreen;
    box-shadow: 3px 3px 3px 3px lawngreen;
}

#progress {
    color: #FC7000;
    border: solid 3px coral;
    box-shadow: 3px 3px 3px 3px coral;

}

.toDo {
    border: solid 3px #FC0500;
    box-shadow: 3px 3px 3px 3px #FC0500;
    height: 100%;
}

.inProgress {
    border: solid 3px coral;
    box-shadow: 3px 3px 3px 3px coral;
    height: 100%;
}

.Finished {
    border: solid 3px lawngreen;
    box-shadow: 3px 3px 3px 3px lawngreen;
    height: 100%;
}

.toBox {
    margin-top: 10px;
    border: solid 3px white;
}

